.stickyCart {
  position: absolute;
  top: 79px;
  width: 616px;
  max-width: 616px;
  padding: 0 37px 50px;
  height: calc(100vh - 80px);
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all ease 1.6s;

  &__active {
    right: 0;
  }

  &__inactive {
    right: -616px;
  }

  &__items {
    width: 100%;
  }

  &__checkoutInfo {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__total {
    line-height: 44px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__price {
    align-self: flex-end;
  }
  
  &__checkout {
    width: 546px;
    height: 91px;
  }
}