.stickyCart {
  position: absolute;
  top: 79px;
  right: 0;
  height: calc(100vh - 80px);
  background: white;
  white-space: nowrap;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  transition: all ease 1.6s;
  
  &__items {
    width: 100%;
  }
  
  &__checkoutInfo {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  
  &__total {
    line-height: 44px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  &__price {
    align-self: flex-end;
  }
  
  &__checkout {
    width: 546px;
    height: 91px;
  }
  
  &__active {
    max-width: 100vw;
    width: 616px;
    padding: 0 37px 50px;
  }
  
  &__inactive {
    max-width: 0px;
    width: 0px;
    padding: 0 0 50px;
    transition: all ease 1.0s;

    & * {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .stickyCart {
    padding: 0 15px 50px;

    &__checkout {
      max-width: calc(100vw - 30px);
    }
  }
}