@import 'sassStyles/colours';

.pageContainer {
  display: flex;
  background-color: $canvas;
  justify-content: center;
  
  &__contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 35px;
  }
}