@import 'sassStyles/colours';

.productGridItem {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  max-width: 380px;
  justify-self: center;

  &__image {
    width: 100%;
    height: auto;
  }

  &__overlay {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $blackTransparent;
    padding: 42px;
    & * {
      color: $white;
    }
  }

  &__overlayUpperSection {
    display: flex;
    flex-direction: column;
  }

  &__productName {
    font-size: 48px;
    line-height: 62px;
  }

  &__brandName {
    font-size: 30px;
    line-height: 39px;
  }

  &__overlayLowerSection {
    display: flex;
    justify-content: space-between;
  }

  &__addToCart {
    font-size: 24px;
    line-height: 31px;
    cursor: pointer;
  }

  &__price {
    font-size: 36px;
    line-height: 47px;
  }



  &:focus, &:hover {
    .productGridItem__overlay {
      display: flex;
    }
  }
}