@import 'sassStyles/colours';

.productGridItem {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  max-width: 380px;
  justify-self: center;

  &__image {
    width: 100%;
    height: auto;
  }

  &__overlay {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $blackTransparent;
    padding: 32px 48px 32px 38px;
    & * {
      color: $white;
    }
  }

  &__overlayUpperSection {
    display: flex;
    flex-direction: column;
  }

  &__overlayLowerSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__addToCart {
    cursor: pointer;
  }

  &:focus, &:hover {
    .productGridItem__overlay {
      display: flex;
    }
  }
}