.montserrat-med {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

.crimson-title {
  font-family: 'Crimson Text';
  font-weight: 400;
  font-size: 96px;
  line-height: 125px;
}

.crimson-xLarge {
  font-family: "Crimson Text";
  font-size: 48px;
  line-height: 62px;
}

.crimson-large {
  font-family: "Crimson Text";
  font-size: 36px;
  line-height: 47px;
}

.crimson-body {
  font-family: "Crimson Text";
  font-size: 30px;
  line-height: 39px;
}

.crimson-medium {
  font-family: "Crimson Text";
  font-size: 24px;
  line-height: 31px;
}

.crimson-small {
  font-family: "Crimson Text";
  font-size: 18px;
  line-height: 23.4px;
}

@media screen and (max-width: 1000px) {
  .montserrat-med {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
  }

  .crimson-title {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
  }

  .crimson-xLarge {
    font-family: "Crimson Text";
    font-size: 40px;
    line-height: 52px;
  }

  .crimson-large {
    font-family: "Crimson Text";
    font-size: 30px;
    line-height: 39px;
  }

  .crimson-body {
    font-family: "Crimson Text";
    font-size: 24px;
    line-height: 31px;
  }

  .crimson-medium {
    font-family: "Crimson Text";
    font-size: 18px;
    line-height: 23.4px;
  }

  .crimson-small {
    font-family: "Crimson Text";
    font-size: 15px;
    line-height: 20px;
  }
}