.montserrat-med, .montserrat-logo {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
}

.crimson-title {
  font-family: 'Crimson Text';
  font-weight: 400;
  font-size: 96px;
}

.crimson-xLarge {
  font-family: "Crimson Text";
  font-size: 42px;
}

.crimson-large {
  font-family: "Crimson Text";
  font-size: 30px;
}

.crimson-medium {
  font-family: "Crimson Text";
  font-size: 27px;
}

.crimson-small {
  font-family: "Crimson Text";
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .montserrat-med {
    font-size: 30px;
    font-weight: 500;
  }

  .crimson-title {
    font-weight: 400;
    font-size: 70px;
  }

  .crimson-xLarge {
    font-size: 40px;
  }

  .crimson-large {
    font-size: 24px;
  }

  .crimson-medium {
    font-size: 18px;
  }

  .crimson-small {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .montserrat-med {
    font-size: 24px;
    font-weight: 500;
  }

  .crimson-title {
    font-weight: 400;
    font-size: 50px;
  }

  .crimson-xLarge {
    font-size: 40px;
  }

  .crimson-large {
    font-size: 24px;
  }

  .crimson-medium {
    font-size: 18px;
  }

  .crimson-small {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .crimson-xLarge {
    font-size: 32px;
  }

  .crimson-large {
    font-size: 20px;
  }

  .crimson-medium {
    font-size: 16px;
  }
}