@import 'sassStyles/colours';

.button {
  font-family: "Montserrat";
  border: none;
  background-color: $black;
  color: $white;

  &:active {
    border: solid 2px $black;
    color: $black;
    background-color: $white;
  }
}